<!-- This is Checkout Page -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout - ECommerce AtoZ</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Checkout</h1>
            <nav>
                <ul>
                    <li><a class="btn" href="{% url 'homepage' %}">Home</a></li>
                    <li><a class="btn" href="{% url 'product_listing' %}">Products</a></li>
                    <li><a class="btn" href="{% url 'checkout' %}">Checkout</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <form action="{% url 'checkout' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}">  
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name" required><br><br>
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email" required><br><br>
                <label for="address">Address:</label><br>
                <textarea id="address" name="address" required></textarea><br><br>
                <label for="quantity">Quantity:</label><br>
                <input type="number" id="quantity" name="quantity" value="1" min="1" required> <br><br> 
                <input type="hidden" name="product_id" value="{{ product.id }}"><br><br>
                <button type="submit" class="btn">Complete Purchase</button>
            </form>
            
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; {{ current_year }} ECommerce AtoZ. All rights reserved.</p>
        </div>
    </footer>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
